<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>

<body>
    <script>
        function* getData() {
            for (const iterator of [1, 2, 3]) {
                yield iterator
            }
        }
        let g = getData()
        console.log(g.next());//{value: 1, done: false}
        console.log(g.return(88));//{value: 88, done: true}
        console.log(g.next());//{value: undefined, done: true}

    </script>
    <script src="">
        // String
        let str = 'test'
        let iterFun = str[Symbol.iterator]
        let iterator = str[Symbol.iterator]()
        // var first = // 等效于 let [first] = 'test'
        console.log(iterator.next());
        console.log(iterator.next());
        console.log(iterator.next());
        console.log(iterator.next());
        console.log(iterator.next());
        // 打印
        // [Function: [Symbol.iterator]], {}, { value: 't', done: false }

        // Array
        let arr = ['a', 'b', 'c'];
        let iter = arr[Symbol.iterator]();
        console.log(112345678);
        // 以下等效于 let [first, second, third, four] = ['a', 'b', 'c']
        console.log(iter.next());
        console.log(iter.next());
        console.log(iter.next());
        console.log(iter.next());
        var first = iter.next() // { value: 'a', done: false }
        let second = iter.next() // { value: 'b', done: false }
        let third = iter.next() // { value: 'c', done: false }
        let four = iter.next() // { value: undefined, done: true }
        console.log('-----------------------');



        let obj = {
            a: 1,
            b: 2,
            c: 3,
            d: 4,
            e: 99,
            length: 5,
            [Symbol.iterator]() {
                return {
                    next: () => {
                        obj.a++
                        if (obj.a > 4) {
                            return {
                                done: true
                            }
                        } else {
                            return {
                                done: false,
                                value: obj.a
                            }
                        }
                    }
                }
            }
        }
        for (const iterator of obj) {
            console.log(iterator);
        }

        console.log('-----------------------');
        function getIterator(list) {
            var i = 0;
            return {
                next: function () {
                    var done = (i >= list.length);
                    var value = !done ? list[i++] : undefined;
                    return {
                        done: done,
                        value: value
                    };
                }
            };
        }
        var it = getIterator(['a', 'b', 'c']);
        console.log(it.next()); // {value: "a", done: false}
        console.log(it.next()); // {value: "b", done: false}
        console.log(it.next()); // {value: "c", done: false}
        console.log(it.next()); // "{ value: undefined, done: true }"
        console.log(it.next()); // "{ value: undefined, done: true }"
        console.log(it.next()); // "{ value: undefined, done: true }"
        console.log('*******');
        var arr1 = [100, 200, 300];

        for (var o of arr1) {
            console.log(o);
        }

        function isIterable(object) {
            return typeof object[Symbol.iterator] === "function";
        }
        console.log(isIterable('abcdefg')); // true
        console.log(isIterable([1, 2, 3])); // true
        console.log(isIterable("Hello")); // true
        console.log(isIterable(new Map())); // true
        console.log(isIterable(new Set())); // true
        console.log(isIterable(new WeakMap())); // false
        console.log(isIterable(new WeakSet())); // false
        console.log('*******');

        class Counter {
            constructor(limit) {
                this.limit = limit
            };
            [Symbol.iterator]() {
                let count = 1
                let limit = this.limit
                return {
                    next() {
                        if (count <= limit) {
                            return {
                                done: false,
                                value: count++
                            }
                        } else {
                            return {
                                done: true,
                                value: undefined
                            }
                        }

                    },
                    return() {
                        //终止了
                        console.log('终止了');
                        return {
                            done: true,
                        }
                    }
                }
            }
        }
        let myCounter = new Counter(3)
        for (const iterator of myCounter) {
            if (iterator > 2) {
                break
            }
            console.log(iterator);//1 2 3
        }



    </script>
    <script src="">


        const arr = [1, 2, 3]
        Object.freeze(arr)//冻结

        arr[0] = '改变'

        console.log(arr);//冻结了 改不了

        const obj = {
            question: '你回家吃饭吗',
            answerList: ['不回家去你家吃啊', '嗯？']
        }
        Object.freeze(obj)//冻结

        obj.answerList[0] = '回家'
        console.log(obj);//还是修改成了

        //freeze只能冻结根层，嵌套引用类型需要遍历递归
        //面试题目
        function deepFreeze(obj) {
            Object.freeze(obj);//冻结
            //逐级遍历
            (Object.keys(obj) || []).forEach(key => {
                let innerObj = obj[key]
                if (typeof innerObj === 'object') {
                    //递归
                    deepFreeze(innerObj)
                }
            });
        }

        deepFreeze(obj)

    </script>
</body>

</html>